/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* End of reset */

body {
    background-color: #3B3F48;
}

header {
    width: 100%;
    height: 40px;
    text-align: center;
}

footer {
    width: 100%;
    height: 20px;
}

#main_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#buttons_container {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    margin: 20px 10px;
    padding: 5px;
    border: 2px solid #3B3F48;
    border-radius: 7px;
    background-color: #686F7F;
    font-family: Lobster, 'Courier New';
    color: #3B3F48;
    font-size: 120%;
}

.button:hover {
    cursor: pointer;
    background-color: #5B7171;
    color: #3E4A4A;
}

#field {
    background-color: #fff;
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    font-family: Lobster, 'Courier New';
    color:#eee;
}